<div *appLet="(booksService.currentBook$ | async) as book" class="wrapper">
  <p>{{book.id}}</p>
</div>


<div *ngIf="(booksService.currentBook$ | async) as book" class="wrapper">
  <p>{{book.id}}</p>
</div>


<div *appLet="(booksService.currentBook$ | async) as book" class="wrapper">
  <p>{{book.id}}</p>
</div>


<div *ngIf="(booksService.currentBook$ | async) as book" class="wrapper">
  <p>{{book.id}}</p>
</div>

